@import '../login.component';

.login-wrapper mat-form-field.half-width {
    display: block;
    margin: 0 auto;
}

h1 {
    color: $blue;
    margin-top: 0;
}

.header-component {
    max-width: 300px;
}

.header-component,
.alert {
    text-align: left;
}

.alert {
    font-size: 0.9rem;
    font-weight: bold;
}

.alert p {
    margin: 0;
}


.alert ul {
    padding-left: 20px;
    margin-top: 0;
}

.mat-form-field-wrapper {
    padding-bottom: 2em;
}

