@import '../../../scss/variables';

.mat-dialog-actions {
    justify-content: center;
    margin: 0 0 0.3em;
}

input {
    margin: 3em 0;
}

.texto-modal {
    margin: 1em 0 0 0;
    width: 100%;
}

h3 {
    font-weight: 700;
    font-size: 2em;
    color: $dark-indigo;
}