<div class="bg"></div>
<section class="container">
<!--     <figure class="chart chart-sm">
        <svg>
          <circle cx="85" cy="87.5" r="85" transform="rotate(-90, 85, 87.5)"/>
        </svg>
    </figure>

    <figure class="chart chart-md">
        <svg>
          <circle cx="85" cy="87.5" r="85" transform="rotate(-90, 85, 87.5)"/>
        </svg>
    </figure>

    <figure class="chart chart-lg">
        <svg>
          <circle cx="85" cy="87.5" r="85" transform="rotate(-90, 85, 87.5)"/>
        </svg>
    </figure> -->
    <div class="content" fxLayout="column" fxLayoutAlign="center center">
      <div>
        <h1>404</h1>
        <h3>Página no encontrada</h3>
        <button mat-raised-button color="accent" class="btn-block" (click)="irInicio()">Inicio</button>
      </div>
    </div>
  </section>