<form [formGroup]="contactoForm" class="example-form">
    <ng-template matStepLabel>Contacto</ng-template>
    <div class="header-component" fxLayout="row" fxLayoutAlign="space-between start">
        <div>
            <h1>Contacto</h1>
            <p>Enviaremos un código de verificación a tu cliente</p>
        </div>
        <div>
            <img src="./assets/icon-contact.png">
        </div> 
    </div>
    <div fxLayout="column" fxLayoutAlign="center center">
        <div fxLayout="row wrap" fxLayoutAlign="space-between center" fxLayoutGap="10px grid">
            <mat-form-field class="input-1-2"  appearance="outline">
                <mat-label>Celular</mat-label>
                <input matInput formControlName="celular" required type="password">
                <mat-error *ngIf="contactoForm.get('celular').hasError('required')">
                    Dato Requerido
                </mat-error>
                <mat-error *ngIf="contactoForm.get('celular').hasError('pattern')">
                    Solo números
                </mat-error>
            </mat-form-field>
            <mat-form-field class="input-1-2"  appearance="outline">
                <mat-label>Confirmar celular</mat-label>
                <input matInput formControlName="confirmarCelular" required [errorStateMatcher]="matcher" type="password">
                <mat-error *ngIf="contactoForm.get('confirmarCelular').hasError('required')">
                    Dato Requerido
                </mat-error>
                <mat-error *ngIf="contactoForm.hasError('notSame')">
                    El número de celular de confirmación no coincide.
                </mat-error>
            </mat-form-field>
            <mat-form-field class="input-1-2"  appearance="outline">
                <mat-label>Teléfono fijo</mat-label>
                <input matInput formControlName="telefonoFijo" required>
                <mat-error *ngIf="contactoForm.get('telefonoFijo').hasError('required')">
                    Dato Requerido
                </mat-error>
                <mat-error *ngIf="contactoForm.get('telefonoFijo').hasError('pattern')">
                    Solo números
                </mat-error>
            </mat-form-field>
            <mat-form-field class="input-1-2"  appearance="outline">
                <mat-label>Correo electrónico</mat-label>
                <input matInput formControlName="correo" required type="email" email>
                <mat-error *ngIf="contactoForm.get('correo').hasError('required')">
                    Dato Requerido
                </mat-error>
                <mat-error *ngIf="contactoForm.get('correo').hasError('email')">
                    Correo Inválido
                </mat-error>
            </mat-form-field>
        </div>
    </div>
    <div class="block-btn" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
        <button class="btn-big" mat-raised-button matStepperPrevious>Regresar</button>
        <button class="btn-big" mat-raised-button color="accent" matStepperNext (click)="datosContacto()">Continuar</button>
    </div>
</form>