$blue: (
    50: #e3f1fc,
    100: #bbdbf9,
    200: #91c6f5,
    300: #66aff1,
    400: #499eee,
    500: #308eeb,
    600: #2d81dd,
    700: #296fca,
    800: #255eb8,
    900: #2970CA,
    A100: #e3f1fc,
    A200: #91c6f5,
    A400: #499eee,
    A700: #296fca,
    contrast: (
        50: $dark-primary-text,
        100: $dark-primary-text,
        200: $dark-primary-text,
        300: $light-primary-text,
        400: $light-primary-text,
        500: $light-primary-text,
        600: $light-primary-text,
        700: $light-primary-text,
        800: $light-primary-text,
        900: $light-primary-text,
        A100: $dark-primary-text,
        A200: $light-primary-text,
        A400: $light-primary-text,
        A700: $light-primary-text,
    )
);

$green: (
    50: #e4f8ed,
    100: #bfecd3,
    200: #93e0b7,
    300: #60d49b,
    400: #29ca84,
    500: #111413,
    600: #00b063,
    700: #009d56,
    800: #008c49,
    900: #006b34,
    A100: #93e0b7,
    A200: #29ca84,
    A400: #008c49,
    A700: #006b34,
    contrast: (
        50: $dark-primary-text,
        100: $dark-primary-text,
        200: $dark-primary-text,
        300: $light-primary-text,
        400: $light-primary-text,
        500: $light-primary-text,
        600: $light-primary-text,
        700: $light-primary-text,
        800: $light-primary-text,
        900: $light-primary-text,
        A100: $dark-primary-text,
        A200: $light-primary-text,
        A400: $light-primary-text,
        A700: $light-primary-text,
    )
);