$pale-grey: #fafafb;
$pale-grey-two : #eff4fb;
$pale-lilac : #e9eaee;
$dark-indigo: #0c2340;
$green-blue: #29ca84;
$cerulean: #0176bf;
$white: #fff;
$blue : #2970ca;
$bluish: #2970ca;
$black : #000000;
$red : #e34040;
$grey: #898d92;
$yellow: #ffd900;
$orange: #EF7F1A;

$icomoon-font-family: "icon-seguros" !default;
$icomoon-font-path: "./assets/fonts" !default;
$icon-chubb: "\e900";
$icon-ana: "\e901";
$icon-qualitas: "\e902";

